name="Liferay Hello World"
description=""
type="customElement"
iFrameURL=""
elementName="liferay-hello-world"
webComponentUrl=["https://$[conf:cloud.liferay.com.domain.0]/static/js/main.02e5e5d9.js"]
webComponentCssUrl=["https://$[conf:cloud.liferay.com.domain.0]/static/css/main.9877909d.css"]
friendlyURLMapping=""
instanceable="false"
portletDisplayCategory="remote-app"
portletServiceProperties="foo=bar"
