/*/*/bin
/*/*/docroot/WEB-INF/classes
/*/*/docroot/WEB-INF/lib
/*/*/docroot/WEB-INF/tld
/*/*/classes
/*/*/ivy.xml.MD5
/*/*/javadoc
/*/*/lib
/*/*/test-classes
/*/*/test-results
/*/*/tmp
/*/*/*/bin
/*/*/*/docroot/WEB-INF/classes
/*/*/*/docroot/WEB-INF/lib
/*/*/*/docroot/WEB-INF/tld
/*/*/*/classes
/*/*/*/ivy.xml.MD5
/*/*/*/javadoc
/*/*/*/lib
/*/*/*/test-classes
/*/*/*/test-results
/*/*/*/tmp
/*/*/*/*/*/*/html/js/aui
/*/*/*/*/*/*/html/js/editor/alloyeditor
/*/*/*/*/*/*/html/js/editor/ckeditor
/*/*/*/*/*/*/html/js/editor/codepress
/*/*/*/*/*/*/html/js/editor/tiny_mce